/*CUSTOMIZACION DEL CSS BASE*/

/*Color y formato para los Titulos*/
h1,h2,h3,h4,h5,a{
	color: #ccff44;
}


/*Color y formato para el párrafo*/
p,li,body{
	color: #ffffff;
}

/*Defaults para las secciones*/
body,section{
	background-color: #181818;
}


p.paper-paragraph{
	text-indent:5%; 
	font-size: 14px;
}
ul.paper-paragraph{
	font-size: 14px;
}


/*Formato para la linea separadora horizontal*/
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: dashed;
    border-color: #ccff66;
    border-width: 1px;
} 

.carousel-caption {
	background-color: rgba(0,0,0,0.6);
	margin: 1rem 1rem;
    top: 2rem;
    bottom: auto;
}

.btn-primary{
	background-color: #00afef;
	border-color: #00afef;
}

.navbar-nav > li{
  margin-left:15px;
  margin-right:15px;
}

.navbar-item{
	color: #000C5A;
}
.navbar-menu{
	color: #000C5A;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.card-title{
	color: #000C5A;
}

.card-text{
	font-size: 14px;
}

table.table-bordered{
		    border:2px solid #111;
		    margin-top:20px;
		}
table.table-bordered > thead > tr > th{
		    border:1px solid #111;
		}
table.table-bordered > tbody > tr > th{
		    border:1px solid #111;
		}
table.table-bordered > tbody > tr > td{
		    border:1px solid #111;
		}